
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fondo: #f5f4f0;
    --verde: #47AC6A;
    --rosa: #FB9BAE;
    --morado:#9B7ED0;
    --naranja:#FA6327;
    --azul:#0098EC;
    --rojo:#F70A10;
    --amarillo:#FFEEA7;
    --violeta:#DAD1EC;
    --gris:#F5F4F0;
    --negro:#201f1f;
    --font:"Inter", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--fondo);
    
}

img {
    width: 100%;
    vertical-align: middle;
}

header{
    height: 100vh;
    background-color: var(--violeta); /* para probar */
}

/* MENÚ */
.navbar{
    /* transform: rotate(90deg); */
    background-color: var(--morado)!important;
    --bs-navbar-hover-color: var(--rosa);
    transform-origin: right;
    top: 0;
}

.navbar-brand{
    color: var(--gris);
    transition: 0.5s;
}

.navbar-brand:hover{
    transform: scale(1.1);
    color: var(--rosa)!important;
}

.nav-item a{
    color: var(--negro);
    transform: rotate(0deg);
}

.dropdown-menu{
    background-color:var(--gris) ;
}

.dropdown-item {
    width: auto;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav{
 margin-right: 0 !important;
}
 /* para botón activo  */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--rosa);
  
}
/* para q al boton estar activo se quede la linea */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show::before{
    width: 100%;
}

.navbar-toggler {
    border: 1px solid var(--rosa);
    color: transparent;
}

.fa-bars{
    color:var(--rosa);
}


/* sección galeria imagenes  */
.gallery-item2 {
    /* border: 3px solid red; */
    height: 20vh;
    margin-left: 7em;
}

.gallery-item2 img{
    height: 20vh;
    width: 130vh;
    object-fit: cover;
    padding-bottom: 1em;
}

.gallery-item3{
    margin-left: 1em;
    flex: none; 
    max-width: 20vh; 
    
}

.gallery-item3 img{
    height: 85vh;
    width: 15vh;
    object-fit: cover;
}

#gallery > div.row{
    width: 100%;
}

.gallery-item4{
    display: flex;
    flex-direction: column;
    width: 58vh;
}

#gallery > div.row > div.gallery-item4.col > div:nth-child(1){
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

#gallery > div.row > div.gallery-item4.col > div > p{
    width: 60vh;
}

#gallery > div.row > div.gallery-item4.col > div:nth-child(2){
    display: flex;
   align-items: center;
}

.gallery-item4 img{
    height: 40vh;
    width: 29vh;
    object-fit: cover;
    padding: 0.8em;
}

.item4-imgs{
    align-content: center;
}

#gallery > div.row > div.gallery-item4.col > div:nth-child(2) > img:nth-child(2){
    height: 20vh;
    width: 50vh;
    object-fit: cover;
    padding: 0.5em;
}

.item4-title{
    margin-top: -2em;
    width: 45vh;
    z-index: 1;
}

.item4-img3{
    display: flex;
    justify-content: flex-end;
    margin-top: -6em;
}

#gallery > div.row > div.gallery-item4.col > div.item4-img3 > img:nth-child(1){
    height: 25vh;
    margin-top: 6em;
}

.gallery-item5{
   display: flex;
} 

.gallery-item5 img{
    height: 60vh;
    width: 50vh;
    object-fit: cover;
}

#gallery > div.row > div.gallery-item5.col > div:nth-child(2) > h1{
    width: 42vh;
    margin-left: -3em;
    font-size: 7vh;
}

#gallery > div.row > div.gallery-item5.col > div:nth-child(3) > img{
    height: 73vh;
    width: 35vh;
    object-fit: cover;
    margin-top: 5em;
}

.item5-texto h2{
    margin-left: -10.5em;
    margin-top: -1.5em;
    font-size: 7vh;
}